.mazemapWrapper {
  position: relative;
  height: 100%;
  background: #fefefe;
}

.mazemapWrapper .mapboxgl-map {
  display: block;
  flex-grow: 1;
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mapboxgl-ctrl-bottom-left {
  display: hidden;
}
